<!DOCTYPE html>
<html>
<head>
<title>Learning AngularJS</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<style>
h1, h3, h4 {
	margin-top: 12px;
	margin-bottom: 6px;
}
h3 { 
	color: DarkBlue;
	border-bottom: 1px solid black;
}
h4 {
	color: green;
	border-bottom: 1px solid black;
	
	margin-left: 6px;
}
p {
	margin-top: 0;
	margin-bottom: 6px;
}
</style>
</head>
<body>

<h1>Learning AngularJS</h1>

<!-- Note: 

* only one AngularJS application can be automatically 
bootstrapped per HTML document
* To run multiple applications in an HTML document you
 must manually bootstrap them using angular.bootstrap()
 
-->

<h3>AngularJS Controllers</h3>
<!-- 
AngularJS controllers control the data of AngularJS applications.
AngularJS controllers are regular JavaScript Objects. 
-->
<div ng-app="myApp" ng-controller="myCtrl">

First Name:	<input type="text" ng-model="firstName"><br>
Last Name:	<input type="text" ng-model="lastName"><br>
<br>
<span style="font-weight:bold;">
	Full Name</span>: {{ firstName + " " + lastName }} 

<h4>Calling a function to get full name</h4>
<!-- you can also define a function and call it to get the full name -->
<span style="font-weight:bold;">
	Full name</span>: {{ getFullName() }}

</div><!-- myApp -->

<!-- This is where we define an application and a controller -->
<script>
// Application
var app = angular.module('myApp', []);

// Controller
app.controller('myCtrl', function($scope) {
	// Initialize values here
	$scope.firstName = "John";
	$scope.lastName = "Doe";

	// Defining a variable as a function
	$scope.getFullName = function() {
		return $scope.firstName + " " + $scope.lastName;
	}
});

/**
 * You could also define the controller in a separate file and use
 * <script src="myCtrl.js"></script>
 */
</script>

</body>
</html>


